<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szakdoga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Szakdoga">
        <activity android:name=".view.MainActivity"
            android:label="Regimen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.DetailsActivity"
            android:label="Fill the details below"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.FunctionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.CalculationsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.BulkingMenuOfferActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.CuttingMenuOfferActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.MaintanMenuOfferActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ChangeDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity2"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity3"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity4"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity5"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity6"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity7"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity8"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity9"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity10"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity11"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity12"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity13"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity14"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity15"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity16"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity17"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity18"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity19"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity20"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity21"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity22"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity23"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity24"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity25"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity26"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.recipes.RecipeActivity27"
            android:screenOrientation="portrait"/>

    </application>

</manifest>